html {
  height: 100%;
  font-size: 100%;
  background-color: #fff;
  color: #333;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased; }

body {
  min-height: 100%;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

body,
ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre {
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, menu, nav, section, iframe {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

svg:not(:root) {
  overflow: hidden; }

button, input, select, textarea, optgroup {
  font-family: inherit;
  font-size: inherit;
  color: inherit; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

button, input, select {
  vertical-align: middle; }

button::-moz-focus-inner,
input[type='button']::-moz-focus-inner,
input[type='reset']::-moz-focus-inner,
input[type='submit']::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  resize: vertical;
  overflow: auto; }

input[type="checkbox"],
input[type="radio"] {
  padding: 0; }

ul, ol {
  list-style: none; }

table {
  border-spacing: 0;
  border-collapse: collapse; }

th {
  text-align: inherit; }

img {
  height: auto;
  vertical-align: middle;
  border: none;
  -ms-interpolation-mode: bicubic; }

.clearfix, .form-control, .container, nav ul, .content, .box .box-header {
  *zoom: 1; }
  .clearfix:before, .form-control:before, .container:before, nav ul:before, .content:before, .box .box-header:before, .clearfix:after, .form-control:after, .container:after, nav ul:after, .content:after, .box .box-header:after {
    content: "";
    display: table; }
  .clearfix:after, .form-control:after, .container:after, nav ul:after, .content:after, .box .box-header:after {
    clear: both; }

.clear {
  clear: both; }

.abs {
  position: absolute; }

.rel {
  position: relative; }

.mod {
  overflow: hidden;
  *zoom: 1; }

.left {
  float: left; }

.right {
  float: right; }

.center {
  margin-left: auto;
  margin-right: auto; }

.middle {
  vertical-align: middle; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.text-justify {
  text-align: justify; }

.text-middle {
  vertical-align: middle; }

.text-top {
  vertical-align: top; }

.text-bottom {
  vertical-align: bottom; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.none,
.hide,
[hidden] {
  display: none; }

.block,
.show {
  display: block; }

.inline-block, .arrow-down {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle; }

.visually-hidden {
  position: absolute !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  *clip: rect(1px 1px 1px 1px); }

.img-preserve {
  max-width: none; }

.text-nowrap {
  overflow: hidden;
  white-space: nowrap; }

.text-truncate, .btn, .btn-default, .btn-primary {
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.text-break {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  word-break: break-all; }

.text-indent2 {
  text-indent: 2em; }

.text-hide {
  text-indent: -9999em;
  overflow: hidden; }

.checkbox, .radio {
  vertical-align: middle;
  margin: 1px 0 -1px 0; }

.skip-link {
  position: absolute; }
  .skip-link a {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    background: black;
    color: white;
    text-decoration: none; }
    .skip-link a:focus {
      position: static;
      overflow: visible;
      clip: auto; }

.font-yaihei {
  font-family: 'Microsoft Yahei'; }

.font-arial {
  font-family: Arial; }

.font-simsun {
  font-family: Simsun; }

.arrow-down {
  width: 0;
  height: 0;
  overflow: hidden;
  border: 6px solid transparent;
  border-top: 6px solid #fff;
  vertical-align: middle; }

.vafter .after, .vafter:after {
  content: "";
  display: inline-block;
  font-size: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
  vertical-align: middle; }

.circle {
  border-radius: 50%; }

.outline {
  outline: none;
  border: none; }

.cursor {
  cursor: pointer;
  cursor: hand; }

.w50 {
  width: 50px; }

.w100 {
  width: 100px; }

.w150 {
  width: 150px; }

.w200 {
  width: 200px; }

.w250 {
  width: 250px; }

.w300 {
  width: 300px; }

.w350 {
  width: 350px; }

.w400 {
  width: 400px; }

.w450 {
  width: 450px; }

.w500 {
  width: 500px; }

.w550 {
  width: 550px; }

.w600 {
  width: 600px; }

.w1000 {
  width: 1000px; }

.w1100 {
  width: 1100px; }

.w1200 {
  width: 1200px; }

.wp10 {
  width: 10%; }

.wp20 {
  width: 20%; }

.wp25 {
  width: 25%; }

.wp30 {
  width: 30%; }

.wp33 {
  width: 33.3333%; }

.wp40 {
  width: 40%; }

.wp50 {
  width: 50%; }

.wp60 {
  width: 60%; }

.wp66 {
  width: 66.6666%; }

.wp70 {
  width: 70%; }

.wp75 {
  width: 75%; }

.wp80 {
  width: 80%; }

.wp90 {
  width: 90%; }

.wp100 {
  width: 100%; }

.wauto {
  width: auto; }

.p0 {
  padding: 0 !important; }

.p5 {
  padding: 5px; }

.p10 {
  padding: 10px; }

.p15 {
  padding: 15px; }

.p20 {
  padding: 20px; }

.pt5 {
  padding-top: 5px; }

.pt10 {
  padding-top: 10px; }

.pt15 {
  padding-top: 15px; }

.pt20 {
  padding-top: 20px; }

.pr5 {
  padding-right: 5px; }

.pr10 {
  padding-right: 10px; }

.pr15 {
  padding-right: 15px; }

.pr20 {
  padding-right: 20px; }

.pb5 {
  padding-bottom: 5px; }

.pb10 {
  padding-bottom: 10px; }

.pb15 {
  padding-bottom: 15px; }

.pb20 {
  padding-bottom: 20px; }

.pl5 {
  padding-left: 5px; }

.pl10 {
  padding-left: 10px; }

.pl15 {
  padding-left: 15px; }

.pl20 {
  padding-left: 20px; }

.m0 {
  margin: 0 !important; }

.m5 {
  margin: 5px; }

.m10 {
  margin: 10px; }

.m15 {
  margin: 15px; }

.m20 {
  margin: 20px; }

.mt5 {
  margin-top: 5px; }

.mt10 {
  margin-top: 10px; }

.mt15 {
  margin-top: 15px; }

.mt20 {
  margin-top: 20px; }

.mr5 {
  margin-right: 5px; }

.mr10 {
  margin-right: 10px; }

.mr15 {
  margin-right: 15px; }

.mr20 {
  margin-right: 20px; }

.mb5 {
  margin-bottom: 5px; }

.mb10 {
  margin-bottom: 10px; }

.mb15 {
  margin-bottom: 15px; }

.mb20 {
  margin-bottom: 20px; }

.ml5 {
  margin-left: 5px; }

.ml10 {
  margin-left: 10px; }

.ml15 {
  margin-left: 15px; }

.ml20 {
  margin-left: 20px; }

.f10 {
  font-size: 10px; }

.f12 {
  font-size: 12px; }

.f14 {
  font-size: 14px; }

.f16 {
  font-size: 16px; }

.f18 {
  font-size: 18px; }

.f20 {
  font-size: 20px; }

.f24 {
  font-size: 24px; }

.f28 {
  font-size: 28px; }

.f32 {
  font-size: 32px; }

.f36 {
  font-size: 36px; }

.f40 {
  font-size: 40px; }

.lht1 {
  line-height: 1; }

.lht12 {
  line-height: 12px; }

.lht14 {
  line-height: 14px; }

.lht16 {
  line-height: 16px; }

.lht18 {
  line-height: 18px; }

.lht20 {
  line-height: 20px; }

.lht22 {
  line-height: 22px; }

.lht24 {
  line-height: 24px; }

.lht26 {
  line-height: 26px; }

.lht28 {
  line-height: 28px; }

.lht30 {
  line-height: 30px; }

.lht35 {
  line-height: 35px; }

.lht40 {
  line-height: 40px; }

.h50 {
  height: 50px; }

.h100 {
  height: 100px; }

.h150 {
  height: 150px; }

.h200 {
  height: 200px; }

.h250 {
  height: 250px; }

.h300 {
  height: 300px; }

input.clear-fill:-webkit-autofill, input.clear-fill:-webkit-autofill:hover, input.clear-fill:-webkit-autofill:focus {
  box-shadow: 0 0 0 60px #fff inset; }

.input,
.select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 20px;
  min-height: 32px;
  padding: 6px;
  padding: 0 6px \9;
  line-height: 32px \9;
  border: 1px solid #eaeaea;
  border-radius: 0;
  outline: none; }
  .input.select,
  .select.select {
    min-height: 0 \9;
    padding: 6px \9; }
  .input:focus,
  .select:focus {
    border-color: #f86851;
    outline: 0;
    outline: thin dotted \9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 4px #f86851; }
  .input.valid-success,
  .select.valid-success {
    border-color: #12b143; }
  .input.valid-error,
  .select.valid-error {
    border-color: #f86851; }

.checkbox,
.radio {
  margin-top: -1px;
  margin-bottom: 1px; }

.form-control {
  margin-top: 15px; }
  .form-control:first-child {
    margin-top: 0; }

.help-inline {
  display: inline-block;
  color: #999;
  vertical-align: middle; }

.help-block {
  display: block;
  color: #999; }

.btn, .btn-default, .btn-primary {
  display: inline-block;
  text-align: center;
  line-height: 20px;
  padding: 6px 14px;
  border: 1px solid #eaeaea;
  border-radius: 0;
  background: transparent;
  cursor: pointer;
  vertical-align: middle;
  outline: none; }
  .btn.lg, .lg.btn-default, .lg.btn-primary {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold; }
  .btn.sm, .sm.btn-default, .sm.btn-primary {
    padding: 4px 8px; }
  .btn:hover, .btn-default:hover, .btn-primary:hover {
    background-color: #f9f9f9; }
  .btn:active, .btn-default:active, .btn-primary:active {
    background-color: #f5f5f5; }
  .btn:disabled, .btn-default:disabled, .btn-primary:disabled, .btn.disabled, .disabled.btn-default, .disabled.btn-primary {
    background-color: #f1f1f1 !important;
    color: #999 !important;
    border: 1px solid #eaeaea !important;
    cursor: default; }
  .btn.btn-fill, .btn-fill.btn-default, .btn-fill.btn-primary {
    color: #fff !important; }

.btn-block {
  display: block !important; }

.btn-default {
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background: transparent;
  border: 1px solid #e7e7e7;
  color: #666; }
  .btn-default.btn-fill {
    color: #fff;
    background: #eaeaea; }
    .btn-default.btn-fill:hover {
      background-color: #f2f2f2; }
    .btn-default.btn-fill:active {
      background-color: #e2e2e2; }
    .btn-default.btn-fill:disabled, .btn-default.btn-fill.disabled {
      border-color: #e7e7e7 !important; }
  .btn-default.active {
    border: 1px solid #f08519;
    color: #f08519; }

.btn-primary {
  -webkit-transition: background-color 0.3s;
  -moz-transition: background-color 0.3s;
  transition: background-color 0.3s;
  background: transparent;
  border: 1px solid #f08214;
  color: #f08519; }
  .btn-primary.btn-fill {
    color: #fff;
    background: #f08519; }
    .btn-primary.btn-fill:hover {
      background-color: #f18d27; }
    .btn-primary.btn-fill:active {
      background-color: #ea7d0f; }
    .btn-primary.btn-fill:disabled, .btn-primary.btn-fill.disabled {
      border-color: #f08214 !important; }

body {
  font: 12px/20px Tahoma, Arial, "Helvetica Neue", "Hiragino Sans GB", Simsun, sans-serif;
  color: #666;
  background: #EEEEEE; }

a {
  color: #666;
  text-decoration: none; }

.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto; }

header {
  height: 90px;
  line-height: 90px; }

nav {
  height: 58px;
  background: url("../images/bg_nav.jpg");
  position: relative;
  z-index: 1; }
  nav ul > li {
    float: left;
    width: 12.5%;
    line-height: 58px;
    position: relative;
    text-align: center;
    font-size: 14px;
    font-weight: bold; }
    nav ul > li.active a {
      color: #fc0; }
    nav ul > li a {
      color: #fff; }
      nav ul > li a:hover {
        color: #fc0; }
    nav ul > li:after {
      content: "";
      width: 1px;
      height: 10px;
      background: #eee;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -5px; }
    nav ul > li:first-child:after {
      display: none; }
    nav ul > li:hover ul {
      display: block; }
    nav ul > li ul {
      display: none;
      position: absolute;
      width: 100%;
      left: 0;
      top: 58px; }
      nav ul > li ul li {
        float: none;
        width: auto;
        line-height: 32px;
        font-weight: normal;
        background: #06c; }
        nav ul > li ul li a:hover {
          color: #fff; }
        nav ul > li ul li:hover {
          background: #fc0; }
        nav ul > li ul li:after {
          display: none; }

.banner {
  position: relative;
  height: 350px;
  overflow: hidden; }
  .banner li {
    float: left; }

.has-dots .dots {
  position: absolute;
  bottom: 10px;
  right: 0;
  z-index: 10; }
  .has-dots .dots .dot {
    float: right;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    background: #06c;
    text-indent: -9999em;
    overflow: hidden;
    cursor: pointer; }
    .has-dots .dots .dot.active {
      background: #fc0; }

footer {
  padding: 10px 0; }

.content {
  padding: 15px 15px 10px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
  margin-top: 5px; }

.box .box-header {
  height: 25px;
  line-height: 25px;
  background: url("../images/box_title.jpg") no-repeat bottom left;
  padding-right: 10px; }
  .box .box-header h3 {
    font-size: 12px;
    font-weight: bold;
    padding-left: 22px;
    color: #fff;
    float: left; }
  .box .box-header.box-header2 {
    background: url("../images/box_title2.jpg") no-repeat bottom left; }
    .box .box-header.box-header2 h3 {
      color: #666; }
.box .box-body {
  padding: 10px 4px;
  line-height: 24px;
  overflow: hidden; }

.col-s {
  width: 250px;
  float: left;
  *display: inline; }

.col-c {
  width: 450px;
  float: left;
  *display: inline; }

.article-list li {
  border-bottom: 1px solid #f9f9f9;
  line-height: 30px;
  padding: 0 5px; }
  .article-list li:nth-child(even) {
    background: #f9f9f9; }
  .article-list li a:hover {
    color: #fc0; }
  .article-list li span {
    color: #999; }

.link {
  color: #999; }
  .link a {
    display: inline-block;
    color: #999;
    margin-right: 5px; }

.sidebar {
  width: 215px;
  min-height: 400px; }
  .sidebar .bar-title {
    background: url("../images/bg_left_title.jpg") right no-repeat;
    line-height: 28px;
    color: #fff;
    font-weight: bold;
    padding-right: 20px;
    text-align: right;
    font-size: 12px; }
  .sidebar .bar-nav li {
    margin-top: 1px; }
    .sidebar .bar-nav li a {
      display: block;
      line-height: 22px;
      background: url("../images/menu_1.jpg") right repeat-y;
      padding-right: 20px;
      text-align: right; }
      .sidebar .bar-nav li a:hover, .sidebar .bar-nav li a.active {
        background: url("../images/menu_01.jpg") right repeat-y;
        color: #066ccf; }

.main {
  margin-left: 250px;
  padding-right: 10px; }
  .main .main-title {
    height: 22px;
    padding: 6px 0 0 12px;
    background: url("../images/bg_right_title.jpg") no-repeat bottom left;
    font-weight: bold; }

.here-path {
  display: inline-block;
  padding-left: 15px;
  background: url("../images/ico_location.gif") no-repeat left; }

.page-content {
  padding: 15px 0; }

.pager a {
  display: inline-block;
  margin: 0 5px; }
  .pager a.active {
    color: red; }
  .pager a.disable {
    color: #ccc;
    cursor: default; }

.article-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center; }

.article-meta {
  background: #f9f9f9;
  color: #999;
  padding: 5px;
  text-align: center; }

.feedback-table th, .feedback-table td {
  padding: 5px 0 5px 5px;
  vertical-align: top;
  font-weight: normal; }
.feedback-table th {
  text-align: right; }
.feedback-table input,
.feedback-table textarea {
  padding: 3px 6px; }

.valid-error {
  color: red; }
