.btn {
  @extend .text-truncate;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  padding: 6px 14px;
  border: 1px solid $base-border-color;
  border-radius: $base-border-radius;
  background: transparent;
  cursor: pointer;
  vertical-align: middle;
  outline: none;
  &.lg {
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bold;
  }
  &.sm {
    padding: 4px 8px;
  }
  &:hover {
    background-color: #f9f9f9;
  }
  &:active {
    background-color: #f5f5f5;
  }
  &:disabled,
  &.disabled {
    background-color: #f1f1f1 !important;
    color: #999 !important;
    border: 1px solid $base-border-color !important;
    cursor: default;
  }
  &.btn-fill {
    color: #fff !important;
  }
}

.btn-block {
  display: block !important;
}

// create btn mixin
@mixin create-btn($bg-color, $border-color, $color: $base-color) {
  @extend .btn;
  @include transition(background-color .3s);
  background: transparent;
  border: 1px solid $border-color;
  color: $color;
  &.btn-fill {
    color: #fff;
    background: $bg-color;
    &:hover {
      background-color: lighten($bg-color, 3%);
    }
    &:active {
      background-color: darken($bg-color, 3%);
    }
    &:disabled,
    &.disabled {
      border-color: $border-color !important;
    }
  }
}

.btn-default {
  @include create-btn($base-border-color, darken($base-border-color, 1%));
  &.active {
    border: 1px solid $color-primary;
    color: $color-primary;
  }
}

.btn-primary {
  @include create-btn($color-primary, darken($color-primary, 1%), $color-primary);
}