// color
.color-primary {
  color: $color-primary;
}

.color-secondary {
  color: $color-secondary;
}

.color-error {
  color: $color-error;
}

.color-gray {
  color: $color-gray;
}

.color-grayDarker {
  color: $color-grayDark;
}

.color-grayLighter {
  color: $color-grayLighter;
}

.color-white {
  color: $color-white;
}

.color-black {
  color: $color-black;
}

.color-blackLighter {
  color: $color-blackLighter;
}

.color-yellow {
  color: $color-yellow;
}

.color-purple {
  color: $color-purple;
}

.color-greenDarker {
  color: $color-greenDarker;
}

.color-green {
  color: $color-green;
}

// background
.bg-white {
  background-color: $color-white;
}

.bg-reverse {
  background-color: $color-reverse;
}