.clearfix {
  *zoom: 1;
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.clear {
  clear: both;
}

.abs {
  position: absolute;
}

.rel {
  position: relative;
}

.mod {
  overflow: hidden;
  *zoom: 1;
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.middle {
  vertical-align: middle;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-middle {
  vertical-align: middle;
}

.text-top {
  vertical-align: top;
}

.text-bottom {
  vertical-align: bottom;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.none,
.hide,
[hidden] {
  display: none;
}

.block,
.show {
  display: block;
}

.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}

.visually-hidden {
  position: absolute !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  *clip: rect(1px 1px 1px 1px);
}

.img-preserve {
  max-width: none;
}

.text-nowrap {
  overflow: hidden;
  white-space: nowrap;
}

.text-truncate {
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.text-break {
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  word-wrap: break-word;
  word-break: break-all;
}

.text-indent2 {
  text-indent: 2em;
}

.text-hide {
  text-indent: -9999em;
  overflow: hidden;
}

.checkbox, .radio {
  vertical-align: middle;
  margin: 1px 0 -1px 0;
}

.skip-link {
  position: absolute;
  & a {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    background: black;
    color: white;
    text-decoration: none;
    &:focus {
      position: static;
      overflow: visible;
      clip: auto;
    }
  }
}

.font-yaihei {
  font-family: 'Microsoft Yahei';
}

.font-arial {
  font-family: Arial;
}

.font-simsun {
  font-family: Simsun;
}

.arrow-down {
  @extend .inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
  border: 6px solid transparent;
  border-top: 6px solid #fff;
  vertical-align: middle;
}

.vafter {
  .after,
  &:after {
    content: "";
    display: inline-block;
    font-size: 0;
    width: 0;
    height: 100%;
    overflow: hidden;
    vertical-align: middle;
  }
}

.circle {
  border-radius: 50%;
}

.outline {
  outline: none;
  border: none;
}

.cursor {
  cursor: pointer;
  cursor: hand;
}