// chrome remember password bug
input.clear-fill {
  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    box-shadow: 0 0 0 60px #fff inset;
  }
}

.input,
.select {
  @include box-sizing(border-box);
  line-height: 20px;
  min-height: 32px;
  padding: 6px;
  padding: 0 6px \9;
  line-height: 32px \9;
  border: 1px solid $base-border-color;
  border-radius: $base-border-radius;
  outline: none;
  &.select {
    min-height: 0 \9;
    padding: 6px \9;
  }
  &:focus {
    border-color: $color-secondary;
    outline: 0;
    outline: thin dotted \9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05), 0 0 4px $color-secondary;
  }
  &.valid-success {
    border-color: #12b143;
  }
  &.valid-error {
    border-color: $color-secondary;
  }
}

.checkbox,
.radio {
  margin-top: -1px;
  margin-bottom: 1px;
}

.form-control {
  @extend .clearfix;
  margin-top: 15px;
  &:first-child {
    margin-top: 0;
  }
}

.help-inline {
  display: inline-block;
  color: #999;
  vertical-align: middle;
}

.help-block {
  display: block;
  color: #999;
}