// font family
//mobile
$font-family-mobile: Tahoma, Arial, Roboto, "Droid Sans", "Helvetica Neue", "Droid Sans Fallback", "Heiti SC", sans-serif;
//pc
$font-family-pc: Tahoma, Arial, "Helvetica Neue", "Hiragino Sans GB", Simsun, sans-serif;
//pc yahei
$font-family-pc-yahei: Tahoma, Arial, "Helvetica Neue", "Hiragino Sans GB", 'Microsoft Yahei', sans-serif;
//mobile+pc
$font-family-all: Tahoma, Arial, Roboto, "Droid Sans", "Helvetica Neue", "Droid Sans Fallback", "Heiti SC", "Hiragino Sans GB", Simsun, sans-serif;

// global
$ns: '';
$img-path: '../images/';

// base
$base-font-size: 12px;
$base-line-height: 20px;
$base-color: #666;
$base-link-color: #666;

// border
$base-border-color: #eaeaea;
$base-border-radius: 0;

// colors
$color-white: #fff;
$color-whiteDarker: #eee;
$color-gray: #999;
$color-grayDark: #666;
$color-grayLighter: #ccc;
$color-black: #000;
$color-blackLighter: #333;
$color-f1: #f1f1f1;
$color-f5: #f5f5f5;

$color-primary: #f08519;
$color-secondary: #f86851;
$color-error: #f86851;
$color-reverse: #fafafa;

$color-yellow: #f8c651;
$color-purple: #5165f8;
$color-greenDarker: #12b143;
$color-green: #12b143;